html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: "Playfair Display";
  src: url("fonts/PlayfairDisplay-Bold.ttf");
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Arimo";
  src: url("fonts/Arimo-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Arimo";
  src: url("fonts/Arimo-Bold.ttf");
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Arimo";
  src: url("fonts/Arimo-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}
body {
  margin: 0;
  font-family: "Arimo", sans-serif;
  text-align: center;
  color: var(--color-secondary);
  background-color: var(--color-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}
:root {
  --color-background: #f0d6c2;
  --color-highlight: #5f5cc7;
  --color-secondary: #251004;
  --border: 1px solid var(--color-secondary);
  --shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  --font-smaller: 1.1rem;
  --font-small: 1.2rem;
  --font-medium: 1.5rem;
  --font-large: 2rem;
  --font-xlarge: 3rem;
}
body::-webkit-scrollbar {
  width: 1rem;
}
body::-webkit-scrollbar-track {
  background: var(--color-background);
}
body::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
}
a {
  color: var(--color-secondary);
  text-decoration: none;
}
a:hover {
  color: var(--color-highlight);
}
ul {
  margin: 0;
  padding-left: 1rem;
}
p {
  font-size: var(--font-small);
  margin: 0;
  text-align: left;
  max-width: 60rem;
  margin-inline: auto;
}
.button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--color-highlight);
  border-radius: 0.6rem;
  color: #fff;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: var(--shadow);
  padding: 0.6rem 1.5rem;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: color 0.3s ease, background-color 0.3s ease,
    border-color 0.3s ease;
  border: 1px solid transparent;
  font-weight: 600;
}
.button:hover {
  border-color: var(--color-secondary);
  background-color: white;
  color: var(--color-secondary);
}
svg path {
  transition: all 0.3s ease;
}
.rect {
  transition: all 0.3s ease;
}
.button:hover .rect {
  stroke: var(--color-secondary);
}
.button:hover .fill path {
  fill: var(--color-secondary);
}
.button:hover .stroke path {
  stroke: var(--color-secondary);
}
/* Navbar */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  padding: 1rem 4rem;
  border-bottom: var(--border);
  border-right: var(--border);
  border-radius: 0 0 4rem 0;
}
.brand {
  font-size: 1.5rem;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
.logoContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 100%;
}
.logo {
  height: 4rem;
  width: auto;
}
.navBar {
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 2rem;
}
.navMobile {
  display: none;
}
/* hero */
.hero {
  display: flex;
  align-items: center;
  gap: 2rem;
}
#heroImage {
  width: 55%;
  border-radius: 0 4rem 4rem 0;
}
.heroText {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  height: fit-content;
  gap: 2rem;
  padding-right: 1rem;
}
#heroTitle {
  font-size: var(--font-large);
  margin: 0;
}
#heroSubtitle {
  font-size: var(--font-small);
}
.servicesContainer {
  border: var(--border);
  border-radius: 0 4rem 4rem 4rem;
  padding: 0 1rem 1rem 1rem;
}
.title {
  font-size: var(--font-large);
  margin: 4rem;
}
#services {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-evenly;
  gap: 4rem;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30rem;
  color: var(--color-secondary);
  border: var(--border);
  border-radius: 4rem;
  overflow: hidden;
}
.serviceImage {
  width: 100%;
  height: auto;
}
.textContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 0;
  padding: 1rem 0;
  font-weight: 600;
  width: 80%;
  height: fit-content;
}
.textContainer ul {
  text-align: left;
  font-size: var(--font-small);
}
.textContainer li {
  margin: 1rem 0;
}
.subtitle {
  font-size: var(--font-medium);
  text-align: center;
  font-weight: bold;
}
.contactContainer p {
  margin-top: 1rem;
  text-align: center;
  max-width: 30rem;
}
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  gap: 2rem;
  font-size: var(--font-small);
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
  background-color: var(--color-secondary);
  color: var(--color-background);
}
.footer p {
  font-size: var(--font-small);
  margin: 0;
}
.footer a {
  font-weight: bold;
  color: var(--color-background);
}
.footer a:hover {
  color: white;
}
@media only screen and (max-width: 1200px) {
  :root {
    --font-smaller: 0.8rem;
    --font-small: 1rem;
    --font-medium: 1.1rem;
    --font-large: 1.4rem;
    --font-xlarge: 2rem;
  }
  .footer {
    padding: 2rem 1rem;
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .footer .brand {
    text-align: center;
  }
}
@media only screen and (max-width: 750px) {
  :root {
    --font-smaller: 0.8rem;
    --font-small: 1rem;
    --font-medium: 1.1rem;
    --font-large: 1.4rem;
    --font-xlarge: 2rem;
  }
  .header {
    padding: 1rem;
  }
  .header .logoContainer {
    display: grid;
    grid-template-columns: 5rem auto 5rem;
    grid-template-areas: "logo brand .";
    width: 100%;
  }
  .logo {
    grid-area: logo;
  }
  .brand {
    align-self: center;
    grid-area: brand;
  }
  .navBar {
    display: none;
  }
  .navMobile {
    display: block;
    position: fixed;
    right: 0;
  }
  .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    -webkit-user-select: none;
    user-select: none;
    width: 4rem;
    height: 4rem;
    border-radius: 3rem 0px 0px 3rem;
    padding-left: 1rem;
    gap: 5px;
    position: relative;
    transition: background-color 0.5s;
    box-shadow: var(--shadow);
  }
  .navMobile input {
    display: none;
  }
  .hamburger span {
    display: block;
    width: 27px;
    height: 4px;
    background: var(--color-highlight);
    border-radius: 3px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  .hamburger span:nth-child(1) {
    transform-origin: 0% 0%;
  }
  .hamburger span:nth-child(3) {
    transform-origin: 0% 100%;
  }
  .navMobile input:checked ~ .hamburger > span:nth-child(1) {
    opacity: 1;
    transform: rotate(45deg);
    background-color: var(--color-highlight);
  }
  .navMobile input:checked ~ .hamburger > span:nth-child(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  .navMobile input:checked ~ .hamburger > span:nth-child(3) {
    transform: rotate(-45deg);
    background-color: var(--color-highlight);
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 0;
    width: 6rem;
    top: 5rem;
    right: 0;
    border-radius: 2rem 0 0 2rem;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 100% 0%;
    transform: translate(110%, 0%);
    background-color: #fff;
    transition: transform 0.4s;
    overflow: clip;
    gap: 0.5rem;
    box-shadow: var(--shadow);
    padding: 1rem 0;
  }
  .menu li a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: var(--color-font);
    transition: color 0.3s ease;
    width: 5rem;
    height: 4rem;
    font-size: var(--font-smaller);
    font-weight: 600;
  }
  .menu li a svg {
    width: 2rem;
  }
  .iconFill {
    fill: var(--color-secondary);
  }
  .iconStroke {
    stroke: var(--color-secondary);
  }
  .navMobile input:checked ~ .menu {
    transform: none;
  }
  .header {
    border-radius: 0;
    border-right: none;
  }
  .hero {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0 0 2rem 0;
  }
  #heroImage {
    width: 100%;
    border-radius: 0 0 4rem 4rem;
  }
  .heroText {
    padding-right: 0;
    width: 90%;
  }
  .hero .button {
    display: none;
  }
  .servicesContainer {
    padding: 1rem;
    border-radius: 4rem;
  }
}
@media only screen and (max-width: 425px) {
  .header {
    padding: 0.5rem;
  }
  .logoContainer {
    gap: 0.2rem;
  }
  .brand {
    font-size: 1.4rem;
  }
}
