name: Test Static Site Generation and Deploy

on:
  push:
    branches:
      - main # Se ejecuta cada vez que haces push en la rama principal

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install dependencies
        run: npm install @sanity/client

      - name: Generate static site
        run: node generate.js

      - name: List generated files
        run: ls -R ./out

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.GH_TOKEN }}
          publish_dir: ./out # Carpeta donde generaremos la salida
