name: Deploy Website

on:
  push:
    branches:
      - main
  repository_dispatch:
    types: [sanity_update]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "18"

      - name: Install dependencies
        run: |
          npm install
          npm run build || echo "No build script found."

      - name: Generate HTML (for Sanity update)
        if: github.event_name == 'repository_dispatch' && github.event.action == 'sanity_update'
        run: |
          echo "Running generate.js"
          node generate.js

      - name: Checkout gh-pages branch
        uses: actions/checkout@v2
        with:
          ref: gh-pages

      - name: Copy index.html to gh-pages branch
        run: git add index.html

      - name: Push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "Deploy changes"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
